{% load static %}
<ul class="header__list _categories">

                        <li>
                            <a href="#!" class="header__list-links">
                                <span class="header__list-img">
                                    <img src="{% static 'loft/assets/icons/nav_menu/header_menu/kitchen-icon.svg' %}" alt="icons">
                                </span>
                                Кухни
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="header__list-links">
                                <span class="header__list-img">
                                    <img src="{% static 'loft/assets/icons/nav_menu/header_menu/bedroom-icon.svg' %}" alt="icons">
                                </span>
                                Спальни
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="header__list-links">
                                <span class="header__list-img">
                                    <img src="{% static 'loft/assets/icons/nav_menu/header_menu/livingroom-icon.svg' %}" alt="icons">
                                </span>
                                Гостинные
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="header__list-links">
                                <span class="header__list-img">
                                    <img src="{% static 'loft/assets/icons/nav_menu/header_menu/closet-icon.svg' %}" alt="icons">
                                </span>
                                Прихожие
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="header__list-links _offise">
                                <span class="header__list-img">
                                    <img src="{% static 'loft/assets/icons/nav_menu/header_menu/office-icon.svg' %}" alt="icons">
                                </span>
                                Офисная мебель
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="header__list-links">
                                <span class="header__list-img">
                                    <img src="{% static 'loft/assets/icons/nav_menu/header_menu/childrensroom-icon.svg' %}" alt="icons">
                                </span>
                                Детская
                            </a>
                        </li>
                        <li>
                            <a href="#!" class="header__list-links">
                                Акция
                            </a>
                        </li>
                    </ul>