{% load static %}
<div class="header__content">
    <div class="header__bar">
        <a href="#!" class="nav__bars-open">
            <span class="burger"></span>
            <span class="burger"></span>
            <span class="burger"></span>
        </a>

        <a href="{% url 'index' %}" class="logo">
            <img src="{% static 'loft/assets/icons/LOGO.svg' %}" alt="logo">
        </a>
        <form class="header__search">
            <i class="fal fa-search"></i>
            <input type="text" class="header__search-txt" placeholder="Поиск">
        </form>

        <ul class="header__list">
            <li>
                <a href="{% url 'registration' %}" class="header__list-item _truck">
                    <i class="far fa-truck"></i>
                    Доставка
                </a>
            </li>
            <li>
                <a href="{% url 'favorites' %}" class="header__list-item" id="_heart">

                </a>
            </li>
            <li>
                <a href="{% url 'basket' %}" class="header__list-item" id="_bag">

                </a>
            </li>
            <li>
                <a href="{% url 'profile' %}" class="header__list-item" id="_profile">

                </a>
            </li>
        </ul>
    </div>
    <ul class="header__list _categories">

        <li>
            <a href="#!" class="header__list-links">
                                <span class="header__list-img">
                                    <img src="{% static 'loft/assets/icons/nav_menu/header_menu/kitchen-icon.svg' %}"
                                         alt="icons">
                                </span>
                Кухни
            </a>
        </li>
        <li>
            <a href="#!" class="header__list-links">
                                <span class="header__list-img">
                                    <img src="{% static 'loft/assets/icons/nav_menu/header_menu/bedroom-icon.svg' %}"
                                         alt="icons">
                                </span>
                Спальни
            </a>
        </li>
        <li>
            <a href="#!" class="header__list-links">
                                <span class="header__list-img">
                                    <img src="{% static 'loft/assets/icons/nav_menu/header_menu/livingroom-icon.svg' %}"
                                         alt="icons">
                                </span>
                Гостинные
            </a>
        </li>
        <li>
            <a href="#!" class="header__list-links">
                                <span class="header__list-img">
                                    <img src="{% static 'loft/assets/icons/nav_menu/header_menu/closet-icon.svg' %}"
                                         alt="icons">
                                </span>
                Прихожие
            </a>
        </li>
        <li>
            <a href="#!" class="header__list-links _offise">
                                <span class="header__list-img">
                                    <img src="{% static 'loft/assets/icons/nav_menu/header_menu/office-icon.svg' %}"
                                         alt="icons">
                                </span>
                Офисная мебель
            </a>
        </li>
        <li>
            <a href="#!" class="header__list-links">
                                <span class="header__list-img">
                                    <img src="{% static 'loft/assets/icons/nav_menu/header_menu/childrensroom-icon.svg' %}"
                                         alt="icons">
                                </span>
                Детская
            </a>
        </li>

    </ul>
    <!-- /.nav__categories -->

</div>