{% load static %}
<div class="header__bar">
                        <a href="#!" class="nav__bars-open">
                            <span class="burger"></span>
                            <span class="burger"></span>
                            <span class="burger"></span>
                        </a>

                        <a href="{% url 'index' %}" class="logo">
                            <img src="{% static 'loft/assets/icons/LOGO.svg' %}" alt="logo">
                        </a>
                        <form class="header__search">
                            <i class="fal fa-search"></i>
                            <input type="text" class="header__search-txt" placeholder="Поиск">
                        </form>

                        <ul class="header__list">
                            <li>
                                <a href="./registration.html" class="header__list-item _truck">
                                    <i class="far fa-truck"></i>
                                    Доставка
                                </a>
                            </li>
                            <li>
                               <a href="./favorites.html" class="header__list-item" id="_heart">

                                </a>
                            </li>
                            <li>
                                <a href="./basket.html" class="header__list-item" id="_bag">

                                </a>
                            </li>
                            <li>
                                <a href="./profile.html" class="header__list-item" id="_profile">

                                </a>
                            </li>
                        </ul>
                    </div>