<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- Css - Стили -->
    <link rel="stylesheet" href="{% static 'loft/style/style.css' %}">
    <link rel="stylesheet" href="{% static 'loft/assets/fontawesome/css/all.min.css' %}">

</head>

<body>

{% include 'loft/components/_navbar.html'%}
<!-- /.nav -->

<div class="wrapper">
    <header class="header">
        <div class="container">
            {% include 'loft/components/_header.html' %}
            <!-- /.header__content -->
        </div>
        <!-- /.container -->
    </header>
    <!-- /.header -->


    <main class="main">
        <div class="profile">
            <div class="container">
                <div class="profile__content">
                    <form class="profile__form">
                        <h2 class="profile__title">Личные данные</h2>
                        <div class="profile__form-grid">

                            <div class="input__title">
                                <h2>Имя</h2>
                                <input type="text" value="Дмитрий" class="contact__section-input">
                            </div>
                            <div class="input__title">
                                <h2>E-mail</h2>
                                <input type="email" value="morlibae@gmail.com" class="contact__section-input">
                            </div>
                            <div class="input__title">
                                <h2>Фамилия</h2>
                                <input type="text" value="Галькевич" class="contact__section-input">
                            </div>
                            <div class="input__title">
                                <h2>Номер телефона</h2>
                                <input type="tel" value="+7 (901) 784-65-45" class="contact__section-input">
                            </div>
                            <div class="input__title">
                                <h2>Город</h2>
                                <input type="text" value="Москва" class="contact__section-input">
                            </div>
                            <div></div>
                            <div class="input__title _span-two">
                                <h2>Улица</h2>
                                <input type="text" value="Святоозерская" class="contact__section-input">
                            </div>
                            <div class="input__title">
                                <h2>Дом/Корпус</h2>
                                <input type="text" value="16/1" class="contact__section-input">
                            </div>
                            <div class="input__title">
                                <h2>Квартира</h2>
                                <input type="text" value="29" class="contact__section-input">
                            </div>
                        </div>
                        <button class="btn profile__btn">Изменить</button>

                    </form>
                    <div class="profile__orders">
                        <h2 class="profile__title">Мои заказы</h2>

                        <table class="profile__table">
                            <tr>
                                <td colspan="4">Товар</td>
                                <td>Цена</td>
                                <td>Дата</td>
                                <td>Статус</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="profile__title-adaptive">
                                    <div class="tabel__item">
                                        <img src="{% static 'loft/assets/images/main/products/1.png' %}" alt="img">
                                        <span>Кускен Navy
                                                Blue</span>
                                    </div>
                                </td>
                                <td class="profile__tabel-data">16990</td>
                                <td class="profile__tabel-data">01.05.2020</td>
                                <td class="profile__tabel-data">Ожидается</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="profile__title-adaptive">
                                    <div class="tabel__item">
                                        <img src="{% static 'loft/assets/images/main/products/2.png' %}" alt="img">
                                        <span>Кускен Navy
                                                Blue</span>
                                    </div>
                                </td>
                                <td class="profile__tabel-data">28490</td>
                                <td class="profile__tabel-data">01.05.2020</td>
                                <td class="profile__tabel-data">Оплачено 50%</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="profile__title-adaptive">
                                    <div class="tabel__item">
                                        <img src="{% static 'loft/assets/images/main/products/3.png' %}" alt="img">
                                        <span>Кускен Navy
                                                Blue</span>
                                    </div>
                                </td>
                                <td class="profile__tabel-data">21990</td>
                                <td class="profile__tabel-data">01.05.2020</td>
                                <td class="profile__tabel-data">Доставлено</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="profile__title-adaptive">
                                    <div class="tabel__item">
                                        <img src="{% static 'loft/assets/images/main/products/4.png' %}" alt="img">
                                        <span>Кускен Navy
                                                Blue</span>
                                    </div>
                                </td>
                                <td class="profile__tabel-data">21990</td>
                                <td class="profile__tabel-data">01.05.2020</td>
                                <td class="profile__tabel-data">Отменен</td>
                            </tr>

                            <!-- Не трогать - это заглушка для корректного отображения таблицы -->
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <!-- Не трогать - это заглушка для корректного отображения таблицы -->
                        </table>
                        <a href="#!" class="profile__orders-link">Смотреть всё</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- /.main -->

    {% include 'loft/components/_footer.html' %}
    <!-- /.footer -->
</div>
<!-- /.wrapper -->

<script src="{% static 'loft/scripts/script.js' %}"></script>
<script src="{% static 'loft/scripts/slider.js' %}"></script>

<!-- Js - скрипты -->
</body>

</html>


