<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <!-- Css - Стили -->
    <link rel="stylesheet" href="{% static 'loft/assets/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'loft/style/style.css' %}">

</head>

<body>

{% include 'loft/components/_navbar.html' %}
<!-- /.nav -->

<div class="wrapper">
    <header class="header">
        <div class="container">
            {% include 'loft/components/_header.html' %}
            <!-- /.header__content -->
        </div>
        <!-- /.container -->
    </header>
    <!-- /.header -->


    <main class="main">
        <div class="registeration">
            <div class="container">
                <div class="registeration__content">
                    <form class="registeration__form active">
                        <h2 class="registeration__title products__title">Регистрация</h2>
                        <div class="registeration__form-grid">

                            <div class="input__title">
                                <h2>Имя</h2>
                                <input type="text" class="contact__section-input">
                            </div>
                            <div class="input__title">
                                <h2>Фамилия</h2>
                                <input type="text" class="contact__section-input">
                            </div>
                            <div class="input__title">
                                <h2>E-mail</h2>
                                <input type="email" class="contact__section-input">
                            </div>

                            <div class="input__title">
                                <h2>Номер телефона</h2>
                                <input type="tel" class="contact__section-input">
                            </div>

                            <div class="input__title">
                                <h2>Придумайте пароль</h2>
                                <input type="password" class="contact__section-input">
                            </div>
                            <div class="input__title">
                                <h2>Подтвердить пароль</h2>
                                <input type="password" class="contact__section-input">
                            </div>

                        </div>

                        <div class="registeration__btns">

                            <button class="btn registeration__btn">Подтвердить</button>
                            <a href="#!" class="registeration__links">Уже есть аккаунт? </a>
                        </div>

                        <button class="btn registeration__btn-login _revers">Войти</button>

                    </form>

                    <form class="registeration__form">
                        <h2 class="registeration__title products__title">Авторизация</h2>
                        <div class="registeration__form-grid">

                            <div class="input__title">
                                <h2>E-mail</h2>
                                <input type="email" class="contact__section-input">
                            </div>


                            <div class="input__title">
                                <h2> Пароль</h2>
                                <input type="password" class="contact__section-input">
                            </div>

                        </div>

                        <button class="btn registeration__btn-login _auth">Войти</button>

                    </form>


                </div>
            </div>
        </div>
    </main>
    <!-- /.main -->

    {% include 'loft/components/_footer.html' %}
    <!-- /.footer -->
</div>
<!-- /.wrapper -->

<script src="{% static 'loft/scripts/script.js' %}"></script>
<script src="{% static 'loft/scripts/slider.js' %}"></script>

<!-- Js - скрипты -->
</body>

</html>